@tailwind base;

@tailwind components;
 
@tailwind utilities;


    
   
/* Headeer */
.logins{
    color: #606060 !important;
}
.bttn{
    background: none !important;
    color: #606060 !important;
    border: 1px solid #606060 !important;
    border-radius: 30px !important;
    font-weight: 500 !important;
}
select{
    background: none !important;
}
/* Headeer */


/* .home-banner-main{
    background: url(../images/home-banner1.png) no-repeat left top, url(../images/bannerr-right.png) no-repeat right top;
    position: relative;
    top: -64px;
    z-index: -1;
} */

/* Home Banner */
.home-banner-main{
    position: relative;
    top: -64px;
    z-index: -1;
}
.left-side{
    width: 100%;
    background-repeat: no-repeat;
    height: 55em;
    /* padding: 0 0 25rem 0; */
    background-size: 100%;
    /* margin-top: -70px; */
    background-position: -35px -8px;

}
.right-inner{
    text-align: left;
    background-repeat: no-repeat;
    background-position: right top;
    z-index: -1;
    position: relative;
     background-size: 55%;
}
.inner{
    padding-top: 70% !important;
}
/* Home Banner */

/* Clients */
.client-row{
    align-items: center;
}
.clients ul li{
    display: inline-block;
}
/* Clients */

/* Future Banner */
.future-row{
    align-items: center;
}
.img-area img{
    float: right;
    margin-right: 50px;
    width: 50%;
}
/* Future Banner */

/* Acc Steps */
.step-row{
    align-items: center;
}
.line{
    height: 75px;
}

.step-inner ul li{
    display: inline-block;
}
.step-inner ul{
    display: inline-flex;
    align-items: center;
}
/* Acc Steps */


/* Updates */
.main h4{
    width: 100%;
}
.update-main img{
    width: 50%;
    margin: 0 auto;
}
/* Updates */


/* FAQ */
.faq-main{
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20% 0 17% 0;
}
.faq-row-wrapper.styles_faq-row-wrapper__3vA1D {
    background: none !important;
}
/* FAQ */

/* Know More */
.know-inner{
    padding-bottom: 30em;
}
.para1{
    position: relative;
    left: 53%;
}
.para2{
    position: relative;
    top: -16%;
    left: 32%;
}
.para3{
    position: relative;
    left: 23%;
    top: 204%;
}
.para4{
    position: relative;
    top: 272%;
}

/* Know More */

/* Footer Clients */
.Association-f-main .clients{
    padding: 12rem 0 5rem 0;
}
/* Footer Clients */ 

/* Registration */
.from-main{
    position: relative;
    padding: 20px 0 160px 0;
    overflow: hidden;
}
.from-main img{
    position: absolute;
    left: 29%;
}


/* Footer */
.social-links li{
    display: inline-block;
}
/* Footer */







@media screen and (mix-width: 1991px) {

}
